body {
  font-family: Draft, sans-serif;
  text-align: center;
  background-color: antiquewhite;
  padding: 20px;
}

input, textarea {
  padding: 10px;
  width: 300px;
  margin: 10px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
}

#slideshow {
  margin-top: 20px;
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  margin-bottom: 10px;
}

#formSection {
  margin-top: 30px;
  display: none;
}